<!-- INFO START -->
<span class="developer-info font--extra-small">
  Developed by <span class="text--bold">Anna Lukianova</span>. <br />
  <a href="https://github.com/iamlana" target="_blank" class="text--underline">
    See other projects
  </a>
</span>
<!-- INFO END -->

<!-- BLACK CORNER START -->
<span class="black-corner">
  <img src="assets/github.png" alt="github" class="gh-icon" />
  <a href="https://github.com/iamlana" target="_blank" class="gh-link"></a>
</span>
<!-- BLACK CORNER END -->
