body {
  background-color: #1d8251;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  overflow: hidden;
}

.stop-watch {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  margin: 0 auto;
}

.stop-watch--clocks {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: end;
}

.stop-watch--clocks__lap-clock {
  flex: initial;
}

.stop-watch--controls {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stop-watch--laps-list {
  list-style: none;
  margin: 0;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  overflow: scroll;
  font-size: 18px;
  flex: 3;
  margin-bottom: 20px;
}

/* font sizes */
.font--extra-small {
  font-size: 20px;
}

.font--small {
  font-size: 24px;
}

.font--medium {
  font-size: 48px;
}

.font--large {
  font-size: 56px;
}

@media (min-width: 376px) {
  .font--large {
    font-size: 64px;
  }

  .stop-watch--controls {
    column-gap: 16px;
  }

  .stop-watch--laps-list {
    font-size: 24px;
  }
}
@media (max-height: 500px) {
  * {
    font-size: 22px !important;
  }
}

/* text weight */

.text--bold {
  font-weight: 700;
}

/* text decoration */

.text--underline {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #fff;
}

/* button */

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  font-size: 32px;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  text-transform: uppercase;
}

button:hover {
  transform: scale(1.05);
}

button:disabled,
button[disabled] {
  opacity: 0.6;
}
